<accordion>
  <accordion-group heading="Rekening" [isOpen]="true">
    <p><a routerLink="/rekening/list">Daftar</a></p>
    <p><a routerLink="/rekening/saldo">Saldo</a></p>
    <p><a routerLink="rekening/mutasi">Mutasi</a></p>
  </accordion-group>
  <accordion-group heading="Transfer" [isOpen]="true">
    <p><a routerLink="/transfer/input">side pertama menu dua</a></p>
  </accordion-group>
  <accordion-group heading="Profil" [isOpen]="true">
    <p><a routerLink="/profil">side pertama menu tiga</a></p>
  </accordion-group>
</accordion>